@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    /* for light mode */
    --primary-bg: hsl(210, 11%, 96%);
    --secondary-bg: hsl(0, 0%, 100%);
    --text-primary: hsl(230, 17%, 14%);
    --text-secondary: hsl(240, 2%, 45%);
    --hover: hsl(236, 33%, 91%);
    --box-shadow:0px 0px 2px 0px rgba(202, 202, 202, 0.5);
    --toggle: linear-gradient(hsl(210, 56%, 48%), hsl(146, 68%, 55%));
  
}
  /* for dark mode */
body.active {
    --primary-bg: rgb(33, 38, 51);
    --secondary-bg: hsl(224, 26%, 20%);
    --text-primary: hsl(240, 11%, 87%);
    --text-secondary: hsl(225, 6%, 62%);
    --hover: rgb(61, 62, 80);
}




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    /* background-color: aqua; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0px;
}

.col-md-3 {
    padding-bottom: 15px;
}

.fa-sun {
    font-size: 35px;
    font-weight: 900;
    color:linear-gradient();
}

.fa-moon {
    font-size: 35px;
    font-weight: 900;
    color: rgb(255, 255, 250);

}

/* header container */


.dashboard {
    background: linear-gradient(var(--primary-bg)30%, var(--secondary-bg) 30%);
    padding-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 1.8rem;
}

.header p {
    color: var(--text-secondary);
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.toggle-btn {
    display: flex;
    float: right;
    align-items: center;
}

.toggle-btn p{
    font-size: 14px;
    margin-right: 10px;
    color: var(--text-secondary);
}

.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-image: var(--toggle);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check{
    background-color: rgb(255, 255, 255);
}
input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
  }
  .check:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    height: 16px;
    width: 16px;
    background-color: #1e202a;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(20px);
  }
  input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
  }
  

.follower-card {
    box-shadow: 0px 0px 2px 0px rgba(202, 202, 202, 0.5);
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: var(--primary-bg);
    color: var(--text-primary);
}


.social-media {
    display: flex;
    flex-direction: row;
}

.social-media h6 {
    margin-left: 15px;
    font-size: 20px;
    color: var(--text-secondary);
}

h6.name {
    font-size: 13px;
    color: var(--text-secondary);
}

.social-media h1 {
    font-size: 20px;
    font-weight: bolder;
    color: var(--text-primary);

}

.social-media img {
    height: 20px;
    width: auto;
}

.desc h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2.5rem;
}

.desc h1 p {
    line-height: 90px;
    font-weight: 900;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today {
    font-size: 12px;
    font-weight: 500;
    color: rgb(54, 189, 21);
}

.desc .followers {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: var(--text-secondary);
}

.border-fb {
    border-top: 3px solid rgb(59, 151, 255);
    /* border-radius: 10px; */
}

.border-instagram {
    border-top: 3px solid rgb(248, 226, 102);
    /* border-radius: 10px; */
}

.border-youtube {
    border-top: 3px solid rgb(211, 47, 69);
    /* border-radius: 10px; */
}

.follower-card:hover {
    background: var(--hover);
}

/* overview */

.overview h6 {
    color: var(--text-secondary);

}

.overview-card {
    background: var(--primary-bg);
    border-radius: 10px;
    padding: 30px;
}

.overview-card:hover {
    background: var(--hover);
}
.overview-card h3{
    color: var(--text-primary);
    font-weight: 700;
    font-size: 1.7rem;
}
.overview h4{
    color: var(--text-primary);
}

.percent {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 500;
    color: rgb(54, 189, 21);
}